//- module
doctype html
block vars
html
  include @static/assets/lib/@loadingio/bootstrap.ext/dev/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/ldiconfont/main/ldif.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/dev/index.min.css")
    +css("/assets/lib/ldcover/main/ldcv.min.css")
    +css("/assets/lib/ldslider/main/ldrs.min.css")
    +css("/assets/lib/ldnotify/main/ldnotify.min.css")
    block head
  body
    block body
    +script("/assets/lib/@loadingio/ldc/main/ldc.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/ldcover/main/ldcv.min.js")
    +script("/assets/lib/ldslider/main/ldrs.min.js")
    +script("/assets/lib/ldnotify/main/ldnotify.min.js")
    +script("/assets/lib/bootstrap.native/main/bootstrap-native-v4.min.js")
    block script
