//- escape for json output to prevent xss
- var escjson = function(obj) { return 'JSON.parse(unescape("' + escape(JSON.stringify(obj)) + '"))'; };
//- escape for html output to prevent xss
- var eschtml = (function() { var MAP = { '&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&#34;', "'": '&#39;' }; var repl = function(c) { return MAP[c]; }; return function(s) { return s.replace(/[&<>'"]/g, repl); }; })();
-
  function ellipsis(str, len) {
    return ((str || '').substring(0, len || 200) + (((str || '').length > (len || 200)) ? '...' : ''));
  }

//- add br x n
mixin nbr(count)
  - for (var i = 0; i < count; i++)
    br

//- handy shortcut for anchor
mixin a(href, newtab, download)
  a(href=href,
  target=(newtab?"_blank":false),
  rel=(newtab?"noopener noreferrer":false),
  download=(download?download:false))&attributes(attributes)
    block
