//- module

.bg-lighter
  background-color: #fcfdfd

.bg-semi-light
  background-color: rgba(255,255,255,.85)

.bg-semi-dark
  background-color: rgba(0,0,0,.6)

.bg-no-repeat
  background-position: center center!important

.bg-center
  background-position: center center!important

.bg-fixed
  background-attachment: fixed!important

.bg-cover
  background-size: cover!important

.bg-contain
  background-size: contain!important
