//- module

// main font
html,body
  //font-family: 'Varela Round', sans-serif
  font-family: font-body, sans-serif
  font-weight: font-body-weight

// font for heading
h1,h2,h3,h4,h5,h6
  font-family: font-head, sans-serif
  font-weight: font-head-weight

// font for code
pre
  font-family: font-code, monospace
  font-weight: font-code-weight
