//- module

// main font
html,body
  //font-family: 'Varela Round', sans-serif
  font-family: var(--font-body), sans-serif
  font-weight: var(--font-body-weight)

// font for heading
h1,h2,h3,h4,h5,h6
  font-family: var(--font-head), sans-serif
  font-weight: var(--font-head-weight)

// font for code
pre
  font-family: var(--font-code), monospace
  font-weight: var(--font-code-weight)

/* some elements (such as these) use user agent default style,
 * instead of inheriting from body.
 * for consistency, set their weight as inherit here */
input, textarea, select, button
  font-weight: inherit
