@import 'vars.styl'
@import 'func.styl'
//@import 'navtop.styl'
//@import 'avatar.styl'
//@import 'closebtn.styl'
//-@import 'protip.styl'
@import 'tip.styl'
@import 'taglet.styl'
@import 'input-group.styl'
//@import 'notify.styl'
@import 'sep.styl'
@import 'button.styl'
//@import 'foot.styl'
@import 'text.styl'
@import 'layout.styl'
@import 'bg.styl'
@import 'shadow.styl'
@import 'dropdown.styl'
//@import 'invoice.styl'
@import 'print.styl'
@import 'content.styl'
//@import 'list.styl'
@import 'form.styl'
// put in the last to overwrite previous settings
@import 'font.styl'
@import 'z-index.styl'
//@import 'ldap.styl'

.btn, .dropdown-item, *[data-scrollto], .nav-link
  cursor: pointer

.semi-opaque
  opacity: 0.75

.spc
  height: 0
  &:after
    content: " "
