//- module

.input-group
  & > .btn:first-child
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  .dropdown, .dropup
    flex: 1 1 auto
    .btn
      display: block
    .btn:first-child
      border-top-right-radius: 0
      border-bottom-right-radius: 0
  .input-group-append, .input-group-prepend
    .dropdown, .dropup
      flex: 0 1 auto
      .btn
        display: block
  .dropdown-menu
    width: 100%
  &.has-icon
    .input-group-append
      position: relative
      & > .input-group-icon
        position: absolute
        left: -1.75em
        top: 0
        bottom: 0
        margin: auto
        font-size: .75em
        height: min-content
        line-height: 1em
        z-index: 3
