//- module

:root
  --z-base: zidx('base', 'min')
  --z-float: zidx('float', 'min')
  --z-fixed: zidx('fixed', 'min')
  --z-modal: zidx('modal', 'min')
  --z-splash: zidx('splash', 'min')
  --z-notify: zidx('notify', 'min')
  --z-max: 99999999
  --font-body: font-body
  --font-head: font-head
  --font-code: font-code
  --font-body-weight: font-body-weight
  --font-head-weight: font-head-weight
  --font-code-weight: font-code-weight
