//- module
.ld-over, .ld-over-inverse, .ld-over-full, .ld-over-full-inverse
  &.running
    & > .ld { z-index: zidx(splash, loader) }
    &:before
      opacity: 1
      z-index: zidx(splash, 'min')
      display: block

.ldColorPicker
  z-index: zidx(fixed, 'ldcp')

.z-base
  z-index: zidx('base',   'min')
.z-float
  z-index: zidx('float',  'min')
.z-fixed
  z-index: zidx('fixed',  'min')
.z-modal
  z-index: zidx('modal',  'min')
.z-splash
  z-index: zidx('splash', 'min')
.z-notify
  z-index: zidx('notify', 'min')
// expect to use this for only one thing ( e.g., server is down ) in the whole site
.z-max
  z-index: 99999999!important
